<div class="todo-card">
    <mat-card>
        <mat-card-title>
            <span *ngIf="!isEditing">{{ todoItem.title }}</span>
            <span *ngIf="isEditing">Updating...</span>
        </mat-card-title>
        <mat-card-content>
            <ng-container *ngIf="!isEditing">
                <div [innerHTML]="todoItem.formattedContent"></div>
            </ng-container>
            <ng-container *ngIf="isEditing">
                <todoform [item]="todoItem" (updating)="updateItem($event)"></todoform>
            </ng-container>
        </mat-card-content>
        <mat-card-actions>
            <ng-container *ngIf="!isEditing">
                <button mat-raised-button color="primary" (click)="clickEdit()">EDIT</button>
            </ng-container>
            <ng-container *ngIf="isEditing">
                <button mat-stroked-button color="primary" (click)="cancelEdit()">
                    CANCEL
                </button>
            </ng-container>
            <button *ngIf="!isEditing" mat-button color="warn" (click)="removeItem()">
                REMOVE
            </button>
        </mat-card-actions>
    </mat-card>
</div>
