<form [formGroup]="todoForm" (ngSubmit)="submitItem()">
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="title" placeholder="Title" class="form-control form-textInput" />
            <mat-error *ngIf="f.title.errors && f.title.errors.required">
                A title is required.
            </mat-error>
            <mat-error *ngIf="f.title.errors && f.title.errors.maxlength">
                You've reached over max characters.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput formControlName="content" placeholder="Content" class="form-control form-textInput" rows="7"></textarea>
            <mat-hint align="end">Formatted in 
                <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
                    Markdown
                </a>
            </mat-hint>
            <mat-error *ngIf="f.content.errors && f.content.errors.maxlength">
                You've reached over max characters.
            </mat-error>
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button color="primary" type="submit" [disabled]="!todoForm.valid">
                <ng-container *ngIf="isUpdating">UPDATE</ng-container>
                <ng-container *ngIf="!isUpdating">SUBMIT</ng-container>
            </button>
        </div>
    </div>
</form>